<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<!--
    <connectionStrings>
        <add name="GestPark.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-NL5A5KE\SQLEXPRESS;Password=SiliconWise#2020;User ID=sa;Initial Catalog=DB_GestPark"
            providerName="System.Data.OleDb" />
    </connectionStrings>
	-->
    
	<!--
	<connectionStrings>
		<add name="cn" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-NL5A5KE\SQLEXPRESS;Password=SiliconWise#2020;User ID=sa;Initial Catalog=DB_GestPark"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	-->
	
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-NL5A5KE\SQLEXPRESS;Initial Catalog=DB_GestPark;User ID=sa;Password=SiliconWise#2020;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>