<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-NL5A5KE\SQLEXPRESS;
			 Initial Catalog=DB_GestPark;
			 User ID=sa;Password=SiliconWise#2020"
			 providerName="System.Data.SqlClient;"/>
	</connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
	<assemblyBinding>
		<dependentAssembly>
		  <assemblyIdentity name="Stimulsoft.Data"
			publicKeyToken="ebe6666cba19647a" />
		  <bindingRedirect oldVersion="2020.2.2" newVersion="2021.4.3" />
		</dependentAssembly>
	 </assemblyBinding >
	

</configuration>