<?xml version="1.0" encoding="utf-8"?> 
<configuration>
    
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="cn" connectionString="Data Source=SI-7-DM-P-22;&#xD;&#xA;Initial Catalog=GestPark;&#xD;&#xA;User ID=sa;Password=Sicogi2020#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient;" />
  <add name="GestPark.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DM;Password=Sicogi2020#;User ID=sa;Initial Catalog=Fleet_DB" providerName="System.Data.OleDb" />
  <add name="GestPark.Properties.Settings.GestParkConnectionString" connectionString="Data Source=SSI-APPLICATIF;Initial Catalog=GestPark;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="GestPark.Properties.Settings.GestParkConnectionString1" connectionString="Data Source=DM;Initial Catalog=GestPark;User ID=sa;Password=Sicogi2020#" providerName="System.Data.SqlClient" />
  <add name="GestPark.Properties.Settings.GestParkConnectionString2" connectionString="Data Source=.;Initial Catalog=GestPark;User ID=sa;Password=Sicogi2020#" providerName="System.Data.SqlClient" />
 </connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
	<assemblyBinding>
		<dependentAssembly>
		  <assemblyIdentity name="Stimulsoft.Data" publicKeyToken="ebe6666cba19647a" />
		  <bindingRedirect oldVersion="2020.2.2" newVersion="2022.1.2" />
		</dependentAssembly>
	 </assemblyBinding>
	

  <runtime>
	

       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	

            <dependentAssembly>
	

                 <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
	

                 <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
	

            </dependentAssembly>
	

       </assemblyBinding>
	

  </runtime> 
</configuration>